{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}


{% block body %}
<div class="card text-center">
    <div class="card-header" style="background-color: #e3f2fd;">
        <h5>Login</h5>
    </div>
 <div class="container">
     <div class="card-body">
     <div class="row">
            <div class= "card-text col-12">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <p>Vous etes authentifié ! .</p>
            </div>
        </div>
    {% else %}
         <div class="row">
            <div class="card-body col-xl-12 col-lg-12 col-md-12 col-sm-12">
        {{ form_start(form) }}

                <div class="card-item form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="card-item form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-error">
                        {{ form_errors(form.password) }}
                    </div>
                </div>

                <div class="card-item form-group">
                    <a  href="{{ path('app_forgotten_password') }}">Forgotten password</a>
                        {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                     {{ message }}
                    </div>
                        {% endfor %}
                </div>

    {%endif%}

                {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary btn-primary btn-lg'}}) }}
                {{ form_end(form) }}

            </div>
    </div>
     </div>
</div>
</div>

    <style>
        .card {
            margin: 5% 30%; /* Added */
            float: none; /* Added */
            margin-bottom: 20px; /* Added */
        }
        *{
            background-color:rgba(0,0,0,0.0); //Donne la couleur rouge transparent à l'élément
        }
    </style>
{% endblock %}
